<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">SlackName or DiscordName</th>
            <th scope="col">GitName</th>
            <th scope="col">Tasks done</th>
            <th *ngFor="let task of tasks" scope="col" class="vertical">{{task}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users;">
            <td>{{user.platformName}}</td>
            <td>{{user.gitName}}</td>
            <td>{{user.completedTasks}}</td>
            <td *ngFor="let item of [].constructor(tasks.length); let i = index;" [ngClass]="getClass(user, tasks[i])"></td>
        </tr>
    </tbody>
</table>
<div *ngIf="!users" class="loader">
  <img
    src="https://i.imgur.com/vU5yI2I.png"
    alt="Loading...">
</div>
