<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">SlackName or DiscordName</th>
            <th scope="col">GitName</th>
            <th scope="col">Date registration</th>
            <th scope="col">Date last activity</th>
            <th scope="col">Tasks done</th>
            <th scope="col">Points for tasks</th>
            <th scope="col">Karma</th>
            <th scope="col">TotalPoints</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users;">
            <td>{{user.platformName}}</td>
            <td>{{user.gitName}}</td>
            <td>{{user.dateRegistration | date: 'dd/MM/yyyy'}}</td>
            <td>{{user.dateLastActivity | date: 'dd/MM/yyyy'}}</td>
            <td>{{user.completedTasks}}</td>
            <td>{{user.pointByTask}}</td>
            <td>{{user.karma}}</td>
            <td>{{user.totalPoints}}</td>
        </tr>
    </tbody>
</table>
<div *ngIf="!users" class="loader">
  <img
    src="https://i.imgur.com/vU5yI2I.png"
    alt="Loading...">
</div>
